* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#mochaContainer {
  position: absolute;
  top: 8rem;
  left: calc((100% - 37rem) / 2);
  width: 37rem;
  background-color: white;
}

#mocha-stats {
  position: relative;
}