first-card {
  background-color: red;
}

second-card {
  background-color: blue;
}

third-card {
  background-color: green;
}

.card h1 {
  width: 100%;
  text-align: center;
  font-family: inherit;
  background: white;
  margin: 0;
  padding: 1rem;
}